@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Usuń film";
}

<h1>Usuń film</h1>

<h3>Czy na pewno chcesz usunąć ten film?</h3>

<div>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            Tytuł
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            Reżyser
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt class="col-sm-2">
            Ocena
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
